root = true

[*.cs]
indent_style = tab

dotnet_style_qualification_for_field = true
dotnet_style_qualification_for_property = true
dotnet_style_qualification_for_method = true
dotnet_style_qualification_for_event = true

dotnet_style_require_accessibility_modifiers = never

# CA1028: If possible, make the underlying type of PrimitiveType System.Int32 instead of byte.
dotnet_diagnostic.CA1028.severity = none
# CA1849: Call async methods when in an async method
dotnet_diagnostic.CA1849.severity = warning
# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = warning
# CA2016: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.CA2016.severity = warning

dotnet_diagnostic.IDE0044.severity = warning
dotnet_diagnostic.CA1822.severity = warning


# xUnit2013: Do not use equality check to check for collection size.
dotnet_diagnostic.xUnit2013.severity = suggestion

[*.{xml,props,targets}]
intent_style = space
indent_size = 2
