name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 6.0.100-preview.7.21379.14
    - name: Restore dependencies
      run: dotnet restore source
    - name: Build
      run: dotnet build source --no-restore
    - name: Test
      run: dotnet test source -f net6.0 --no-build --verbosity normal
    - name: Coverage
      run: dotnet --% test source/Sylvan.Data.Csv.Tests/ -c Release -f net6.0 /p:CollectCoverage=true /p:Include=\"[Sylvan.Data.Csv]*\"
    #- name: Publish coverage
    #  uses: coverallsapp/github-action@v1.0.1
    #  with:
    #    github-token: ${{ secrets.REPO_TOKEN }}
    #    path-to-lcov: source/${{env.PROJECT_NAME}}.Tests/coverage.info
