name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.102
    - name: Restore dependencies
      run: dotnet restore source
    - name: Build
      run: dotnet build source
    - name: Test
      run: dotnet test source -f net10.0 --no-build --verbosity normal
    #- name: Coverage
    #  run: dotnet --% test source/Sylvan.Data.Csv.Tests/ -c Release -f net6.0 /p:CollectCoverage=true /p:CoverletOutputFormat=lcov /p:Include=\"[Sylvan.Data.Csv]*\"
    #- name: Publish coverage
    #  uses: coverallsapp/github-action@v1.0.1     
    #  with:
    #    github-token: ${{ secrets.GITHUB_TOKEN }}
    #    path-to-lcov: reports/Sylvan.Data.Csv.Tests/coverage.net6.0.info
