name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 6.0.100-preview.5.21302.13
    - name: Restore dependencies
      run: dotnet restore source
    - name: Build
      run: dotnet build source --no-restore
    - name: Test
      run: dotnet test source -f net5.0 --no-build --verbosity normal
